body {
  margin: 0;
  font-family: sans-serif;
}
.content {
  text-align: center;
}
.content table {
  margin-left: 35%;
  border: 1px solid black;
}
.content table th {
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
}
.content table td {
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
}
.input-form{
    margin: 10px;
}